= content_for :title, "ICurb | Sign up"
%br/
.mt-element-step
  .row.step-default
    .col-md-4.bg-grey.mt-step-col.done
      .mt-step-number.bg-white.font-grey 1
      .mt-step-title.uppercase.font-grey-cascade Purchase
      .mt-step-content.font-grey-cascade Purchasing the item
    .col-md-4.bg-grey.mt-step-col.active
      .mt-step-number.bg-white.font-grey 2
      .mt-step-title.uppercase.font-grey-cascade Sign up
      .mt-step-content.font-grey-cascade Information Details
    .col-md-4.bg-grey.mt-step-col
      .mt-step-number.bg-white.font-grey 3
      .mt-step-title.uppercase.font-grey-cascade Payment
      .mt-step-content.font-grey-cascade Complete your payment
  .row 
    %br/
    %br/
    .col-md-12
      .col-md-4.col-md-offset-4
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: :form_sample_2 }) do |f|
          = devise_error_messages!
          = f.hidden_field :subscription, value: params[:subscription]
          = f.hidden_field :is_active, value: 0
          .form-body{ align: :right }
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-user{ style: "font-size: 19px;" }
                .col-md-12{ style: "padding: 0px;" }
                  .input-icon.right
                    %i.fa
                    = f.text_field :first_name, placeholder: "First Name", class: "form-control input-lg", autofocus: true
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-user{ style: "font-size: 19px;" }
                .col-md-12{ style: "padding: 0px;" }
                  .input-icon.right
                    %i.fa
                    = f.text_field :last_name, placeholder: "Last Name", class: "form-control input-lg"
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-envelope
                .col-md-12{ style: "padding: 0px;" }
                  .input-icon.right
                    %i.fa
                    = f.text_field :email, placeholder: "Email Address", class: "form-control input-lg"
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-lock{ style: "font-size: 20px;" }
                .col-md-12{ style: "padding: 0px;" }
                  .input-icon.right
                    %i.fa
                    = f.password_field :password, placeholder: "Password", class: "form-control input-lg", id: :password
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-lock{ style: "font-size: 20px;" }
                .col-md-12{ style: "padding: 0px;" }
                  .input-icon.right
                    %i.fa
                    %input.form-control.input-lg{ name: "user[confirm_password]", placeholder: "Confirm Password", type: :password }
            .form-actions
              .input-group
                = f.submit "Submit", class: "btn blue"
