= content_for :title, "ICurb | User Profile"
= content_for :asset, "../../../assets/logo-default.png"
%br/
.container-fluid
  - if !flash[:success].nil?
    %input#message{ type: :hidden, value: flash[:success] }
    %input#type{ type: :hidden, value: "success" }
    .col-md-12#alerts-container{ style: "margin-top: 20px;" }
  - if !flash[:error].nil?
    %input#message{ type: :hidden, value: flash[:error] }
    %input#type{ type: :hidden, value: "danger" }
    .col-md-12#alerts-container{ style: "margin-top: 20px;" }
  .row
    .col-md-12
      .col-md-3
        .portlet.light.profile-sidebar-portlet.bordered
          .profile-userpic
            %img.img-responsive{:alt => "", :src => "../../../assets/photo3.jpg"}/
          .profile-usertitle
            .profile-usertitle-name= "#{current_user.first_name.titleize} #{current_user.last_name.titleize}"
            .profile-usertitle-job= current_user.email
            .profile-usertitle-job= current_user.phone_number.nil? ? "-" : current_user.phone_number
          .profile-usermenu
            %ul.nav
              %li
                = link_to usersdir_v1_users_path(current_user.id) do
                  %i.icon-home
                  Overview
              %li.active
                = link_to edit_usersdir_v1_users_user_path(current_user.id) do
                  %i.icon-settings
                  Account Settings
      .col-md-9{ style: "padding: 0px;" }
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-grey-mint
                %span.caption-subject.bold.uppercase Personal Info
            .portlet-body
              = form_for User.new, as: :details, url: usersdir_v1_users_edit_path(:details) do |f|
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    = f.text_field :first_name, class: "form-control form-control-solid placeholder-no-fix", placeholder: "First Name", autocomplete: :off, value: current_user.first_name
                    / %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "First Name", type: :text, autocomplete: :off, value: current_user.first_name }
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    = f.text_field :last_name, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Last Name", autocomplete: :off, value: current_user.last_name
                    / %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "Last Name", type: :text, autocomplete: :off, value: current_user.last_name }
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    = f.text_field :phone_number, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Phone Number", autocomplete: :off, value: current_user.phone_number
                    / %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "Phone Number", type: :text, autocomplete: :off, value: current_user.phone_number }
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    .col-md-3{ style: "padding-left: 0px;" }
                      = f.submit "SAVE CHANGES", class: "btn blue uppercase col-md-12"
                      / %button.btn.blue.uppercase.col-md-12 SAVE CHANGES
                    .col-md-3{ style: "padding-left: 0px;" }
                      = f.submit "CANCEL", class: "btn blue uppercase col-md-12"
                      / %button.btn.blue.uppercase.col-md-12 CANCEL
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-grey-mint
                %span.caption-subject.bold.uppercase Upload Image
            .portlet-body
              = form_for User.new, as: :details, url: usersdir_v1_users_edit_path(:details) do |f|
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %input{ type: :file }
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    .col-md-3{ style: "padding-left: 0px;" }
                      = f.submit "SAVE CHANGES", class: "btn blue uppercase col-md-12"
                      / %button.btn.blue.uppercase.col-md-12 SAVE CHANGES
                    .col-md-3{ style: "padding-left: 0px;" }
                      = f.submit "CANCEL", class: "btn blue uppercase col-md-12"
                      / %button.btn.blue.uppercase.col-md-12 CANCEL
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-grey-mint
                %span.caption-subject.bold.uppercase Change Password
            .portlet-body
              = form_for current_user, url: update_password_path do |f|
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    = f.password_field :current_password, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Current Password", autocomplete: :off
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    = f.password_field :password, class: "form-control form-control-solid placeholder-no-fix", placeholder: "New Password", autocomplete: :off
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    = f.password_field :password_confirmation, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Confirm Password", autocomplete: :off
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    .col-md-4{ style: "padding-left: 0px;" }
                      = f.submit "CHANGE PASSWORD", class: "btn blue uppercase col-md-12"
                    .col-md-3{ style: "padding-left: 0px;" }
                      = f.submit "CANCEL", class: "btn blue uppercase col-md-12"
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-grey-mint
                %span.caption-subject.bold.uppercase SUBSCRIPTION
            .portlet-body
              = form_for :subscription, as: :subscription, url: update_subscription_path(:subscription) do |f|
                = f.hidden_field :role, value: @role.number
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    = f.select(:sub_group, options_for_select([ "Individual", "Business" ], :selected => @role.number.split('-')[0].to_s == 'business' ? "Business" : "Individual" ), {}, { class: "bs-select form-control" })
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    = f.select(:sub_type, options_for_select( [ "Average", "OK", "Premium"], :selected => @role.number.split('-')[1].to_s == 'bronze' ? 'Average' : (@role.number.split('-')[1].to_s == 'silver' ? "OK" : "Premium") ), {}, class: "bs-select form-control" )
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    .col-md-4{ style: "padding-left: 0px;" }
                      = f.submit "CHANGE SUBSCRIPTION", class: "btn blue uppercase col-md-12"
                    .col-md-3{ style: "padding-left: 0px;" }
                      = f.submit "CANCEL", class: "btn blue uppercase col-md-12"