<%= content_for :title, "ICurb | Exports" %>
<% if !@results[0].length.zero? && @results[1].length.zero? %>
  <div class="portlet light">
    <div class="portlet-title">
      <div class="col-md-6" style="margin-top: 10px;padding: 0px;">
        <div class="caption font-green">
          <span class="caption-subject bold uppercase">
            <%= "#{@results[0].length} business found" %>
          </span>
        </div>
      </div>
      <div align="<%= :right %>" class="col-md-6" id="buttons" style="padding: 0px;"></div>
    </div>
    <div class="col-md-12" id="content">
      <div class="col-md-2">
        <%= form_for :filter, :html => { style: "display: none;", id: "filter_form" }, url: usersdir_v1_users_exports_path do |f| %>
          <input type="hidden" class="field" name="filter"  value="true">
          <input type="hidden" class="field" name="field">
          <input type="hidden" class="min" name="min">
          <input type="hidden" class="max" name="max">
          <input type="hidden" class="patch_id" value="<%= @results[2][:patch_id] %>" name="patch_id">
        <%end%>
        <label class="col-md-12" style="padding: 0px;font-size: 20px;">REVENUE: </label>
        <label class="col-md-12" style="padding: 0px;">From:</label>
        <input type="text" class="col-md-12 rev_min" value="<%= @results[2][:rev_min] %>">
        <label class="col-md-12" style="padding: 0px;">To:</label>
        <input type="text" class="col-md-12 rev_max" value="<%= @results[2][:rev_max] %>">
        <div class="btn blue col-md-12" style="margin-top: 10px;" id="f_revenue">FILTER</div>
        <label class="col-md-12" style="padding: 0px;font-size: 20px;padding-top: 20px;">NO OF EMPLOYEES: </label><br>
        <label class="col-md-12" style="padding: 0px;">From:</label>
        <input type="text" class="col-md-12 emp_min" value="<%= @results[2][:no_of_employees_min] %>" >
        <label class="col-md-12" style="padding: 0px;">To:</label>
        <input type="text" class="col-md-12 emp_max" value="<%= @results[2][:no_of_employees_max] %>" >
        <div class="btn blue col-md-12" style="margin-top: 10px;" id="f_employee">FILTER</div>
      </div>
      <div class="col-md-10">
        <div class="portlet-body">
          <table class="table table-striped table-bordered table-hover" id="leads_table">
            <thead>
              <tr>
                <th>Business Name</th>
                <th>Owner</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Revenue</th>
                <th>Number of employee</th>
                <th>Start of business</th>
              </tr>
            </thead>
            <tbody>
              <% @results[0].each do |f| %>
                <tr>
                  <td>
                    <%= f.business_name %>
                  </td>
                  <td>
                    <%= f.business_owner %>
                  </td>
                  <td>
                    <%= f.phone_number %>
                  </td>
                  <td>
                    <%= f.address %>
                  </td>
                  <td>
                    <%= f.city %>
                  </td>
                  <td>
                    <%= f.state %>
                  </td>
                  <td>
                    <%= f.zip %>
                  </td>
                  <td>
                    <%= f.revenue %>
                  </td>
                  <td>
                    <%= f.no_of_employees %>
                  </td>
                  <td>
                    <%= f.start_of_business %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% elsif !@results[1].length.zero? && @results[0].length.zero? %>
  <div class="portlet light">
    <div class="portlet-title">
      <div class="col-md-6" style="margin-top: 10px;padding: 0px;">
        <div class="caption font-green">
          <span class="caption-subject bold uppercase">
            <%= "#{@results[1].length} person found" %>
          </span>
        </div>
      </div>
      <div align="<%= :right %>" class="col-md-6" id="buttons" style="padding: 0px;"></div>
    </div>
    <div class="col-md-12" id="content">
      <div class="col-md-12">
        <div class="portlet-body">
          <table class="table table-striped table-bordered table-hover" id="leads_table">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone</th>
              </tr>
            </thead>
            <tbody>
              <% @results[1].each do |f| %>
                <tr>
                  <td>
                    <%= f.full_name %>
                  </td>
                  <td>
                    <%= f.address %>
                  </td>
                  <td>
                    <%= f.city %>
                  </td>
                  <td>
                    <%= f.state %>
                  </td>
                  <td>
                    <%= f.zip %>
                  </td>
                  <td>
                    <%= f.phone %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% elsif !@results[0].length.zero? && !@results[1].length.zero? %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="portlet light">
                <div class="portlet-title">
                  <div class="col-md-6" style="margin-top: 10px;padding: 0px;">
                    <div class="caption font-green">
                      <span class="caption-subject bold uppercase">
                        <%= "#{@results[0].length} business found" %>
                      </span>
                    </div>
                  </div>
                  <div align="<%= :right %>" class="col-md-6" id="buttons" style="padding: 0px;"></div>
                </div>
                <div class="portlet-body">
                  <table class="table table-striped table-bordered table-hover" id="business_table">
                    <thead>
                      <tr>
                        <th>Business Name</th>
                        <th>Owner</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th>Revenue</th>
                        <th>Number of employee</th>
                        <th>Start of business</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @results[0].each do |f| %>
                        <tr>
                          <td>
                            <%= f.business_name %>
                          </td>
                          <td>
                            <%= f.business_owner %>
                          </td>
                          <td>
                            <%= f.phone_number %>
                          </td>
                          <td>
                            <%= f.address %>
                          </td>
                          <td>
                            <%= f.city %>
                          </td>
                          <td>
                            <%= f.state %>
                          </td>
                          <td>
                            <%= f.zip %>
                          </td>
                          <td>
                            <%= f.revenue %>
                          </td>
                          <td>
                            <%= f.no_of_employees %>
                          </td>
                          <td>
                            <%= f.start_of_business %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-me-12">
      <div class="col-md-12">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="col-md-12">
                <div class="portlet light">
                  <div class="portlet-title">
                    <div class="col-md-6" style="margin-top: 10px;padding: 0px;">
                      <div class="caption font-green">
                        <span class="caption-subject bold uppercase">
                          <%= "#{@results[1].length} person found" %>
                        </span>
                      </div>
                    </div>
                    <div align="<%= :right %>" class="col-md-6" id="buttons1" style="padding: 0px;"></div>
                  </div>
                  <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="leads_table">
                      <thead>
                        <tr>
                          <th>Full Name</th>
                          <th>Address</th>
                          <th>City</th>
                          <th>State</th>
                          <th>Zip</th>
                          <th>Phone</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @results[1].each do |f| %>
                          <tr>
                            <td>
                              <%= f.full_name %>
                            </td>
                            <td>
                              <%= f.address %>
                            </td>
                            <td>
                              <%= f.city %>
                            </td>
                            <td>
                              <%= f.state %>
                            </td>
                            <td>
                              <%= f.zip %>
                            </td>
                            <td>
                              <%= f.phone %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= content_for :javascripts do %>
  <script>
    
    $(document).ready(function(){
      <% if !@results[0].length.zero? && !@results[1].length.zero? %>
        var table = $('#business_table').DataTable({
          "ordering": false,
          "bFilter": false,
          "bLengthChange": false,
          "pageLength": 20
        });
        var table1 = $('#leads_table').DataTable({
          "ordering": false,
          "bFilter": false,
          "bLengthChange": false,
          "pageLength": 20
        });
        var buttons = new $.fn.dataTable.Buttons(table, {
          buttons: [
            {
              extend: 'pdfHtml5',
              orientation: 'landscape',
              text: "EXPORT",
              className: "btn blue",
              defaultStyle: {
                   alignment: 'center'
              },
              customize: function (doc) {
                // doc.content[1].table.widths = 
                //     Array(doc.content[1].table.body[0].length + 1).join('*').split('');
              }
            }
          ]
        }).container().appendTo($('#buttons'));
        var buttons = new $.fn.dataTable.Buttons(table1, {
          buttons: [
            {
              extend: 'pdfHtml5',
              orientation: 'landscape',
              text: "EXPORT",
              className: "btn blue",
              defaultStyle: {
                   alignment: 'center'
              },
              customize: function (doc) {
                doc.content[1].table.widths = 
                    Array(doc.content[1].table.body[0].length + 1).join('*').split('');
              }
            }
          ]
        }).container().appendTo($('#buttons1'));
      <% else %>
        var table = $('#leads_table').DataTable({
          "ordering": false,
          "bFilter": false,
          "bLengthChange": false,
          "pageLength": 20
        });
        var buttons = new $.fn.dataTable.Buttons(table, {
          buttons: [
            {
              extend: 'pdfHtml5',
              orientation: 'landscape',
              text: "EXPORT",
              className: "btn blue",
              defaultStyle: {
                   alignment: 'center'
              },
              customize: function (doc) {
                doc.content[1].table.widths = 
                    Array(doc.content[1].table.body[0].length + 1).join('*').split('');
              }
            }
          ]
        }).container().appendTo($('#buttons'));
      <% end %>
      $("#f_employee").click(function(){
        $('.field').val('employee');
        $('.min').val($(".emp_min").val());
        $('.max').val($(".emp_max").val());
        $("#filter_form").submit();
      });
      $("#f_revenue").click(function(){
        $('.field').val('revenue');
        $('.min').val($(".rev_min").val());
        $('.max').val($(".rev_max").val());
        $("#filter_form").submit();
      });
    });

  </script>
<% end %>
