<%= content_for :title, "ICurb | User Home" %>
<div class="col-xs-12" id="sample">
  <br/>
  <div class="col-xs-12" style="background-color:white; padding: 0px 15px 15px 15px; margin: 0px; border: 1px solid #eee;">
    <div class="col-xs-12 col-lg-2" style="padding: 0px 2px; 0px 2px">
      <br/>
      <select class="bs-select form-control" id="dropdown_type" required>
        <option>Residential</option>
        <option>Business</option>
      </select>
    </div>
    <%= form_for :exports, :html => { id: :residential_form, style: "display: none" } , url: usersdir_v1_users_exports_path do |f| %>
      <div class="col-lg-6" style="padding: 0px 2px 0px 2px;">
        <br/>
        <div class="input-icon right" id="address-bar-icon">
          <i class="fa fa-crosshairs black"></i>
        </div>
        <input type="hidden" name="sub_type" value="Residential">
        <input class="form-control geometryvalue important_fields" name="geometry" type="hidden"></input>
        <input class="form-control important_fields" id="address-bar" autocomplete="false" placeholder="Search"></input>
      </div>
      <div class="col-md-4" style="padding: 0px 2px 0px 2px;">
        <div class="col-xs-4" style="padding: 0px 2px 0px 2px;">
          <br/>
          <button class="form-control btn blue" id="show_residence">
            <i class="fa fa-eye"></i>
            SHOW LEADS
          </button>
        </div>
        <div class="col-xs-4" style="padding: 0px 2px 0px 2px;">
          <br/>
          <div class="form-control btn blue remove_patches">            
            <i class="fa fa-close"></i>
            CLEAR MAP
          </div>
        </div>
        <div class="col-xs-4" style="padding: 0px 2px 0px 2px;">
          <br/>
          <div class="form-control btn blue addpatch">
            <i class="fa fa-pencil"></i>
            DRAW PATCH
          </div>
        </div>
      </div>
    <%end%>
    
    <%= form_for :exports, :html => { id: :business_forms, style: "display: block" } , url: usersdir_v1_users_exports_path do |f| %>
      <div class="col-lg-8" style="padding: 0px 2px 0px 2px;">
        <input class="form-control geometryvalue important_fields" name="geometry" type="hidden"></input>
        <input type="hidden" name="sub_type" value="Business">
        <br/>
        <div class="col-md-3" style="padding-left: 4px; padding-right: 4px;">
          <input class="form-control important_fields" name="city" placeholder="City" ></input>
        </div>
        <div class="col-md-3" style="padding-left: 4px; padding-right: 4px;">
          <input class="form-control important_fields" name="state" placeholder="State" ></input>
        </div>
        <div class="col-md-3" style="padding-left: 4px; padding-right: 4px;">
          <input class="form-control important_fields" name="zip" placeholder="Zip" ></input>
        </div>
        <div class="col-md-3" style="padding-left: 4px; padding-right: 4px;">
          <input class="form-control important_fields" name="naics" placeholder="Business Type or NAICS" ></input>
        </div>
      </div>
      <div class="col-md-2 col-lg-2" style="padding: 0px 2px 0px 2px;">
        <div class="col-xs-4" style="padding: 0px 2px 0px 2px;">
          <br/>
          <button class="form-control btn blue" id="show_businesses">
            <i class="fa fa-eye"></i>
          </button>
        </div>
        <div class="col-xs-4" style="padding: 0px 2px 0px 2px;">
          <br/>
          <div class="form-control btn blue remove_patches">
            <i class="fa fa-close"></i>
          </div>
        </div>
        <div class="col-xs-4" style="padding: 0px 2px 0px 2px;">
          <br/>
          <div class="form-control btn blue addpatch">
            <i class="fa fa-pencil"></i>
          </div>
        </div>
      </div>
    <%end%>
  </div>
  <div class="col-md-12" id="loading_alert" style="padding: 10px;"></div>
  <% if @search_limit %>
    <div class="col-md-12" style="padding: 0px;">
      <div id="zeroresult" style="margin-top: 5px;">
        <input id="message" type="hidden" value="You have reached the maximum amount of searches.">
        <input id="type" type="hidden" value="danger">
        <div class="col-md-12" id="alerts-container"></div>
      </div>  
    </div>
  <%end%>
</div>

<div id="map" style="margin-top: 10px;border: .5px solid #e5e5e5;"></div>
<%= form_for :exports, url: usersdir_v1_users_exports_path, html: { id: "hidden_form" } do |f| %>
  <input id="patch_id" name="patch_id" type="hidden" />
<% end %>
<%= form_for :clear_patch, url: usersdir_v1_users_clear_patches_path, html: { id: "clear_patches_form", style: "display: none;" } do |f| %>
<%end%>
<%= content_for :javascripts do %>
  <script>
    <% if @search_limit %>
      $("#show_residence").attr("disabled", "disabled");
      $("#addpatch").attr("disabled", "disabled");
    <%end%>

    $('#map').height(($(document.body).height() - $(".page-header-top").height()) - 15  );
    $(window).resize(function(){
      $('#map').height(($(document.body).height() - $(".page-header-top").height()) - 15 );
    });

    var map, geocoder, marker, drawingManager;
    var saved_polygons = [], recently_drawed = [];
    var searchbar = document.getElementById('address-bar');
    var addpatch = document.getElementById('addpatch');
    var clearmap = document.getElementById('clearmap');

    $('#dropdown_type').change(function(){
      if($(this).val() == "Residential"){
        $('.important_fields').val('');
        $('#business_forms').css("display", "none");
        $("#residential_form").css("display", "block");
        recently_drawed.forEach(function(item){
          item.setMap(null);
        });
      }else{
        $('.important_fields').val('');
        $("#residential_form").css("display", "none");
        $('#business_forms').css("display", "block");
        recently_drawed.forEach(function(item){
          item.setMap(null);
        });
      }
    });

    searchbar.onkeypress = function(e){
      if(e.which == 13){
        e.preventDefault();
        geocode(searchbar.value);
      }
    }

    $(".addpatch").click(function(){
      drawingManager.setDrawingMode(google.maps.drawing.OverlayType.POLYGON);
    });

    $("#residential_form").submit(function(e){
      e.preventDefault();
      $("#show_residence").attr("disabled", "disabled");
      if($("#geometryvalue").val().length == 0){
        App.alert({
          container: $('#loading_alert'),
          place: "append",
          type: "danger",
          message: "Please draw a patch.",
          close: false,
          reset: true,
          focus: true,
          closeInSeconds: 5
        });
        $("#show_residence").attr("disabled", false);
      }else{
        App.alert({
          container: $('#loading_alert'),
          place: "append",
          type: "info",
          message: "Dont close browser while loading to avoid data loss.",
          close: false,
          reset: true,
          focus: true,
          closeInSeconds: 5
        });
        var formdatas = $(this).serializeArray();
        $.ajax({
          method: "POST",
          url: "exports",
          data: formdatas,
          success: function(e){
            $("#patch_id").val(e.patch_id);
            $("#hidden_form").submit();
            $("#show_residence").attr("disabled", false);
          }
        });
      }
    });

    var search_pins = []
    $("#business_forms").submit(function(e){
      e.preventDefault();
      $("#show_businesses").attr("disabled", "disabled");
      var formdatas = $(this).serializeArray();
      if(formdatas[2].value.length == 0 && formdatas[4].value.length == 0 && formdatas[5].value.length == 0 && formdatas[6].value.length == 0 && formdatas[7].value.length == 0 ){
        App.alert({
          container: $('#loading_alert'),
          place: "append",
          type: "danger",
          message: "Please fill one field.",
          close: false,
          reset: true,
          focus: true,
          closeInSeconds: 5
        });
        $("#show_businesses").attr("disabled", false);
      }else{
        App.alert({
          container: $('#loading_alert'),
          place: "append",
          type: "danger",
          message: "Dont close browser while loading to avoid data loss.",
          close: false,
          reset: true,
          focus: true,
          closeInSeconds: 5
        });
        $.ajax({
          method: "POST",
          url: "exports",
          data: formdatas,
          success: function(e){
            if(jQuery.isEmptyObject(e)){
              App.alert({
                container: $('#loading_alert'),
                place: "append",
                type: "danger",
                message: "No results found",
                close: false,
                reset: true,
                focus: true,
                closeInSeconds: 5
              });
              $("#show_businesses").attr("disabled", false);
            }else{
              if(jQuery.isEmptyObject(e.patch_id)){
                search_pins.forEach(function(item){
                  item.setMap(null);
                });
                map.setCenter({lat: e[0].latitude, lng: e[0].longitude});
                map.setZoom(10);
                e.forEach(function(item, index){
                  marker = new google.maps.Marker({
                    map: map,
                    position: { lat: item.latitude, lng: item.longitude }
                  });
                  search_pins.push(marker);
                });
                $("#show_businesses").attr("disabled", false);
              }else{
                $("#patch_id").val(e.patch_id);
                $("#hidden_form").submit();
                $("#show_businesses").attr("disabled", false);
              }
            }
          }
        });
      }
    });
      
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: {lat: 0, lng: 0},
        mapTypeControl: false,
        streetViewControl:false,
        fullscreenControl: false
      });
      if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(function(position){
          map.setCenter({ lat: position.coords.latitude, lng: position.coords.longitude });
        });
      }
      var myinput = document.getElementById('sample');
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(myinput);
      geocoder = new google.maps.Geocoder();
      var points = [];
      var count = 0;
      drawingManager = new google.maps.drawing.DrawingManager({
        drawingMode: null,
        drawingControl: false,
        polygonOptions: {
          geodesic: true,
          strokeWeight: 2,
          strokeColor: "blue",
          fillColor: "blue",
          clickable: true,
          editable:true,
          zIndex: 1
        }
      });
      drawingManager.setMap(map);
      google.maps.event.addListener(drawingManager, "polygoncomplete", function(polygon){
        drawingManager.setDrawingMode(null);
        recently_drawed.push(polygon);
        var coordinates = (polygon.getPath().getArray());
        $(".geometryvalue").val(JSON.stringify(coordinates));
        polygon.getPaths().forEach(function(path, index){
            google.maps.event.addListener(path, "insert_at", function(){
              var coordinates = (polygon.getPath().getArray());
              $(".geometryvalue").val(JSON.stringify(coordinates));
            });
            google.maps.event.addListener(path, "set_at", function(){
              var coordinates = (polygon.getPath().getArray());
              $(".geometryvalue").val(JSON.stringify(coordinates));
            });
        });
      });



      <% @patches.each do |f| %>
        var patch_path = JSON.parse(JSON.stringify(<%= f.geometry.to_s %>))[0];
        var polygon_path = []
        patch_path.forEach(function(value){
          point_hash = {lat: parseFloat(value.toString().split(",")[0]), lng: parseFloat(value.toString().split(",")[1]) }
          polygon_path.push(point_hash)
        })

        <% if f.patch_type == "business" %>
        var polygon = new google.maps.Polygon({
          paths: polygon_path,
          geodesic: true,
          strokeWeight: 2,
          strokeColor: "yellow",
          fillColor: "yellow",
          clickable: true,
          editable: false,
          zIndex: 1
        });
        <% else %>
        var polygon = new google.maps.Polygon({
          paths: polygon_path,
          geodesic: true,
          strokeWeight: 2,
          strokeColor: "lightgreen",
          fillColor: "lightgreen",
          clickable: true,
          editable: false,
          zIndex: 1
        });
        <% end %>
        polygon.setMap(map);
        saved_polygons.push([polygon, <%= f.id %>]);
      <% end %>
      saved_polygons.forEach(function(pol){
        google.maps.event.addListener(pol[0], "click", function(){

          document.getElementById("patch_id").value = pol[1];
          $('#hidden_form').submit();
        });
      });
      $(".remove_patches").click(function(){
        $("#clear_patches_form").submit();
      });
      $("#clear_patches_form").submit(function(e){
        e.preventDefault();
        var formdatas = $(this).serializeArray();
        $.ajax({
          method: "POST",
          url: "clear_patches",
          data: formdatas,
          success: function(e){
            saved_polygons.forEach(function(item){
              item[0].setMap(null);
            });
            recently_drawed.forEach(function(item){
              item.setMap(null);
            });
            App.alert({
              container: $('#loading_alert'),
              place: "append",
              type: "info",
              message: "Patches has been removed.",
              close: false,
              reset: true,
              focus: true,
              closeInSeconds: 5
            });
          }
        })
      });
    }

    function geocode(address){
      geocoder.geocode( { 'address': address }, function(results, status){
        if( status == google.maps.GeocoderStatus.OK ){
          map.setCenter(results[0].geometry.location);
          if(marker)
            marker.setMap(null);
          marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        }else{
          App.alert({
            container: "#zeroresult",
            place: "append",
            type: "success",
            message: status,
            close: 0,
            reset: 0,
            focus: 1,
            closeInSeconds: 5,
            icon: "warning"
          });
        }
      });
    }

  </script>
  <script defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoSN-2WuzS_sGeGws-VJEotT8OodPq6lk&callback=initMap&libraries=drawing"></script>
<% end %>