= content_for :title, "ICurb | User Profile"
%br
.container-fluid
  - if !flash[:error].nil?
    %input#message{ type: :hidden, value: flash[:error] }
    %input#type{ type: :hidden, value: "danger" }
    .col-md-12#alerts-container{ style: "margin-top: 20px;" }
  .row
    .modal.fade#basic{ tabindex: -1, role: :basic, "aria-hidden" => true }
      .modal-dialog
        .modal-content
          .modal-body
            %button.close{ "data-dismiss" => :modal, "aria-hidden" => true }
            %h3{ align: :center } ADD CARD
            %br/
            = form_for Card.new, as: :card, url: new_card_path(:card) do |f|
              .form-group
                .input-group.col-md-10.col-md-offset-1
                  %span.input-group-addon
                    %i.fa.fa-envelope
                  %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "Card Name", type: :text, autocomplete: :off, name: :brand }
              .form-group
                .input-group.col-md-10.col-md-offset-1
                  %span.input-group-addon
                    %i.fa.fa-envelope
                  %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "Card Number", type: :text, autocomplete: :off, name: :credit_card }
              .form-group
                .input-group.col-md-10.col-md-offset-1
                  %span.input-group-addon
                    %i.fa.fa-envelope
                  %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "mm-yy", type: :text, autocomplete: :off, name: :expiry_date }
              .form-group
                .input-group.col-md-10.col-md-offset-1
                  %span.input-group-addon
                    %i.fa.fa-envelope
                  %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "cvc", type: :text, autocomplete: :off, name: :cvc }
              .form-actions
                = f.submit "Add card"
    
    .col-md-12
      .col-md-3
        .portlet.light.profile-sidebar-portlet.bordered
          .profile-userpic
            %img.img-responsive{:alt => "", :src => "../assets/photo3.jpg"}/
          .profile-usertitle
            .profile-usertitle-name= "#{current_user.first_name.titleize} #{current_user.last_name.titleize}"
            .profile-usertitle-job= current_user.email
            .profile-usertitle-job= current_user.phone_number.nil? ? "-" : current_user.phone_number
          .profile-usermenu
            %ul.nav
              %li.active
                = link_to usersdir_v1_users_path(current_user.id) do
                  %i.icon-home
                  Overview
              %li
                = link_to edit_usersdir_v1_users_user_path(current_user.id) do
                  %i.icon-settings
                  Account Settings
        .portlet.light.bordered
          .portlet-title{ align: :center, style: "padding: 0px;margin:0px;" }
            .caption-subject.bold.uppercase{style: "margin-top: 10px;"} ACTIVE
          %div
            .row
              .col-md-12
                .col-md-12{ style: "border: 1px solid #eee; margin-top: 5px;padding: 5px;" }
                  .row
                    .col-md-12
                      .col-md-12
                        .col-xs-3{ style: "padding: 0px 0px 0px 0px;" }
                          %img{ src: "../assets/#{@active.brand.downcase}.png", style: "width: 70px;" }
                        .col-xs-7{ style: "padding: 0px;" }
                          %p{ style: "font-size: 10px;padding:0px;margin:0px;" }= "Card Name: #{@active.card_name}"
                          %p{ style: "font-size: 10px;padding:0px;margin:0px;" }= "Card number: **** **** **** #{@active.last_4}"
                          %p{ style: "font-size: 10px;padding:0px;margin:0px;" }= "Expiry Date: #{@active.exp_month}/#{@active.exp_year}"
                        .col-xs-2{ style: "padding: 0px;" }
                          %p{ style: "font-size: 10px;padding:0px;margin:0px;text-align:center;" }
                            %a EDIT
          .portlet-title{ align: :center, style: "padding: 0px;margin:0px;" }
            .caption-subject.bold.uppercase{style: "margin-top: 10px;"} AVAILABLE
          %div
            - if @available.length != 0
              - @available.each do |card|
                .row
                  .col-md-12
                    .col-md-12{ style: "border: 1px solid #eee; margin-top: 5px;padding: 5px;" }
                      .row
                        .col-md-12
                          .col-md-12
                            .col-xs-3{ style: "padding: 0px 0px 0px 0px;" }
                              %img{ src: "../assets/#{card.brand.downcase}.png", style: "width: 70px;" }
                            .col-xs-7{ style: "padding: 0px;" }
                              %p{ style: "font-size: 10px;padding:0px;margin:0px;" }= "Card Name: #{card.card_name}"
                              %p{ style: "font-size: 10px;padding:0px;margin:0px;" }= "Card number: **** **** **** #{card.last_4}"
                              %p{ style: "font-size: 10px;padding:0px;margin:0px;" }= "Expiry Date: #{card.exp_month}/#{card.exp_year}"
                            .col-xs-2{ style: "padding: 0px;" }
                              %p{ style: "font-size: 10px;padding:0px;margin:0px;text-align:center;" }
                                %a ACTIVATE
                              %p{ style: "font-size: 10px;padding:0px;margin:0px;text-align:center;" }
                                %a REMOVE
            -else
              .row
                .col-md-12
                  .col-md-12
                    %center{ style: "margin: 20px;font-weight: bold;" } NO AVAILABLE CARDS
          .row
            .col-md-12
              %a{ "data-toggle" => :modal, href: "#basic" }
                %button.col-md-12.btn.blue{ style: "margin-top: 4px" } ADD CARD
      .col-md-9{ style: "padding: 0px;" }
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-grey-mint
                %span.caption-subject.bold.uppercase SEARCHES
            .portlet-body
              %table#sample_1.table.table-striped.table-bordered.table-hover
                %thead
                  %tr
                    %th Full Name
                    %th Address
                    %th City
                    %th State
                    %th Zip
                    %th Phone
                %tbody
                  - @searches.each do |f|
                    %tr
                      %td= f.full_name
                      %td= f.address
                      %td= f.city
                      %td= f.state
                      %td= f.zip
                      %td= f.phone.nil? ? "None" : f.phone
        
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-grey-mint
                %span.caption-subject.bold.uppercase INVOICE
            .portlet-body
              %table#sample_2.table.table-striped.table-bordered.table-hover
                %thead
                  %tr
                    %th ID
                    %th Date Created
                    %th Price
                    %th Status
                %tbody
                  - (1..20).each do |f|
                    %tr{ "data-toggle" => :modal, "data-id" => f, "data-datecreated"=> Time.now.strftime("%b %d, %Y %H:%M:%S %p"), "data-status" => "Cancelled", "data-price" => (170.00 + f), "data-target" => "#orderModal" }
                      %td= f
                      %td= Time.now.strftime("%b %d, %Y %H:%M:%S %p")
                      %td $20.00
                      %td
                        %span.label.label-sm.label-success Success
.modal.fade#orderModal{ tabindex: -1, role: :basic, "aria-hidden" => true }
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  .modal-dialog
    .col-sm-12
      .portlet.yellow-crusta.box
        .portlet-title
          .caption
            %i.fa.fa-cogs>
            Order Details
          .actions
            %button.close{ "aria-hidden" => true, "data-dismiss" => :modal, type: :button, style: "margin-top:10px;"}
        .portlet-body
          .row.static-info
            .col-sm-5.name Order #:
            .col-sm-7.value#invoice_id
              / %span.label.label-info.label-sm Email confirmation was sent
          .row.static-info
            .col-sm-5.name Order Date  Time:
            .col-sm-7.value#invoice_datecreated Dec 27, 2013 7:16:25 PM
          .row.static-info
            .col-sm-5.name Order Status:
            .col-sm-7.value
              %span.label.label-success#invoice_status Closed
          .row.static-info
            .col-sm-5.name Grand Total:
            .col-sm-7.value#invoice_price $175.25
          .row.static-info
            .col-sm-5.name Payment Information:
            .col-sm-7.value Credit Card

= content_for :javascripts do
  :javascript
    $(document).ready(function(){
      $("#orderModal").modal({
        keyboard: true,
        backdrop: "static",
        show: false
      }).on('show.bs.modal', function(){
        var invoice_id = $(event.target).closest('tr').data('id');
        var invoice_datecreated = $(event.target).closest('tr').data('datecreated');
        var invoice_status = $(event.target).closest('tr').data('status');
        var invoice_price = $(event.target).closest('tr').data('price');
        $('#invoice_id').html(invoice_id);
        $('#invoice_datecreated').html(invoice_datecreated);
        $('#invoice_status').html(invoice_status);
        $('#invoice_price').html("$"+invoice_price);
      });
      $('#sample_1').dataTable({
          "ordering": false,
          "bFilter": false,
          "bLengthChange": false,
          "pageLength": 10
      });
      $('#sample_2').dataTable({
          "ordering": false,
          "bFilter": false,
          "bLengthChange": false,
          "pageLength": 10
      });
    });