= content_for :title, "ICurb | Admin Home"
.portlet.light
  .portlet-title
    .col-md-2
      %br/
      .caption.font-grey-mint
        %span.caption-subject.bold.uppercase Admins
    .col-md-10{ style: "text-align: right;padding:0px;" }
      = link_to adminsdir_v1_admins_add_admin_path do
        %button.btn.blue Add Admins
  .portlet-body
    %table#sample_1.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Email
          %th Phone number
          %th Actions
      %tbody
        - @admins.each do |f|
          %tr
            %td= "#{f.first_name} #{f.last_name}"
            %td= "#{f.email}"
            %td= "#{f.phone_number.nil? ? "No phone number" : f.phone_number }"
            %td
              = link_to adminsdir_v1_admins_admin_path(f.id), class: "btn btn-outline btn-circle btn-sm purple" do
                %i.fa.fa-eye
                  View 
              &nbsp;&nbsp;
              - if f.is_active == 1
                = link_to adminsdir_v1_admins_admin_change_status_path(status: 0, id: f.id, index: 1), class: "btn btn-outline btn-circle btn-sm red" do
                  %i.fa.fa-lock
                    Deactivate
              - else
                = link_to adminsdir_v1_admins_admin_change_status_path(status: 1, id: f.id, index: 1), class: "btn btn-outline btn-circle btn-sm green" do
                  %i.fa.fa-unlock
                    Activate
.portlet.light
  .portlet-title
    .caption.font-grey-mint
      %span.caption-subject.bold.uppercase users
  .portlet-body
    %table#sample_2.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Email
          %th Phone number
          %th Actions
      %tbody
        - @users.each do |f|
          %tr
            %td= "#{f.first_name} #{f.last_name}"
            %td= f.email
            %td= f.phone_number.nil? ? "None" : f.phone_number
            %td 
              = link_to adminsdir_v1_admins_user_path(f.id), class: "btn btn-outline btn-circle btn-sm purple" do
                %i.fa.fa-eye
                  View
              &nbsp;&nbsp;
              - if f.is_active == 1 || f.is_active == 0
                = link_to adminsdir_v1_admins_change_status_path(status: 2, id: f.id, index: 1), class: "btn btn-outline btn-circle btn-sm red" do
                  %i.fa.fa-lock
                    Deactivate
              - elsif f.is_active == 2
                = link_to adminsdir_v1_admins_change_status_path(status: 1, id: f.id, index: 1), class: "btn btn-outline btn-circle btn-sm green" do
                  %i.fa.fa-unlock
                    Activate 

= content_for :javascripts do
  :javascript
    $(document).ready(function(){
      $('#sample_1').DataTable({
        "ordering": false,
        "bFilter": false,
        "bLengthChange": false,
        "pageLength": 10
      });
      $('#sample_2').DataTable({
        "ordering": false,
        "bFilter": false,
        "bLengthChange": false,
        "pageLength": 10
      });
    }); 