.content-fluid
  .row
    .col-md-4.col-md-offset-4
      %div{:class => "col-md-10.col-md-offset-1"}
        .portlet.light
          .portlet-body{:style => "padding-bottom: 30px;"}
            %br/
            = form_for(Admin.new, as: :admin, url: adminsdir_v1_admins_new_admin_path(:admin), :html => { class: "login-form" }) do |f|
              .form-group
                = f.text_field :first_name, autofocus: true, class: "form-control form-control-solid placeholder-no-fix", placeholder: "First Name"
              .form-group
                = f.text_field :last_name, autofocus: true, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Last Name"
              .form-group
                = f.email_field :email, autofocus: true, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Email Address"
              .form-group
                = f.password_field :password, autocomplete: "off", class: "form-control form-control-solid placeholder-no-fix", placeholder: "Password"
                = f.hidden_field :is_active, value: 1
              %br/
              .form-action{:style => "text-align:center;"}
                = f.submit "Log in", class: "btn green uppercase"