= content_for :title, "ICurb | User Profile"
= content_for :asset, "../../../assets/logo-default.png"
%br/
.container-fluid
  - if !flash[:success].nil?
    %input#message{ type: :hidden, value: flash[:success] }
    %input#type{ type: :hidden, value: "success" }
    .col-md-12#alerts-container{ style: "margin-top: 20px;" }
  - if !flash[:error].nil?
    %input#message{ type: :hidden, value: flash[:error] }
    %input#type{ type: :hidden, value: "danger" }
    .col-md-12#alerts-container{ style: "margin-top: 20px;" }
  .row
    %br/
    .col-md-12
      .col-md-3
        .portlet.light.profile-sidebar-portlet.bordered
          .profile-userpic
            %img.img-responsive{:alt => "", :src => "../../../assets/photo3.jpg"}/
          .profile-usertitle
            .profile-usertitle-name= "#{current_admin.first_name} #{current_admin.last_name}"
            .profile-usertitle-job= current_admin.email
            .profile-usertitle-job= current_admin.phone_number.nil? ? "-" : current_admin.phone_number
          .profile-usermenu
      .col-md-9{ style: "padding: 0px;" }
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-grey-mint
                %span.caption-subject.bold.uppercase Personal Info
            .portlet-body
              = form_for Admin.new, as: :details, url: adminsdir_v1_admins_update_details_path(:details) do |f|
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    = f.text_field :first_name, class: "form-control form-control-solid placeholder-no-fix", placeholder: "First Name", autocomplete: :off, value: current_admin.first_name
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    = f.text_field :last_name, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Last Name", autocomplete: :off, value: current_admin.last_name
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    = f.text_field :phone_number, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Phone Number", autocomplete: :off, value: current_admin.phone_number
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    .col-md-3{ style: "padding-left: 0px;" }
                      = f.submit "SAVE CHANGES", class: "btn blue uppercase col-md-12"
                    .col-md-3{ style: "padding-left: 0px;" }
                      = f.submit "CANCEL", class: "btn blue uppercase col-md-12"
                

        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-grey-mint
                %span.caption-subject.bold.uppercase Change Password
            .portlet-body
              = form_for current_admin, url: adminsdir_v1_admins_update_password_path do |f|
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    = f.password_field :current_password, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Current Password", autocomplete: :off
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    = f.password_field :password, class: "form-control form-control-solid placeholder-no-fix", placeholder: "New Password", autocomplete: :off
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    = f.password_field :password_confirmation, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Confirm Password", autocomplete: :off
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    .col-md-4{ style: "padding-left: 0px;" }
                      = f.submit "CHANGE PASSWORD", class: "btn blue uppercase col-md-12"
                    .col-md-3{ style: "padding-left: 0px;" }
                      = f.submit "CANCEL", class: "btn blue uppercase col-md-12"