= content_for :title, "ICurb | User Profile"
= content_for :asset, "../../../assets/logo-default.png"
%br/
.container-fluid
  - if !flash[:success].nil?
    %input#message{ type: :hidden, value: flash[:success] }
    %input#type{ type: :hidden, value: "success" }
    .col-md-12#alerts-container{ style: "margin-top: 20px;" }
  - if !flash[:error].nil?
    %input#message{ type: :hidden, value: flash[:error] }
    %input#type{ type: :hidden, value: "danger" }
    .col-md-12#alerts-container{ style: "margin-top: 20px;" }
  .row
    .col-md-12
      .col-md-12
        = link_to root_path do
          %button.btn.btn-outline.green BACK
    %br/
    %br/
    .col-md-12
      .col-md-3
        .portlet.light.profile-sidebar-portlet.bordered
          .profile-userpic
            %img.img-responsive{:alt => "", :src => "../../../assets/photo3.jpg"}/
          .profile-usertitle
            .profile-usertitle-name= "#{@admin.first_name} #{@admin.last_name}"
            .profile-usertitle-job= @admin.email
            .profile-usertitle-job= @admin.phone_number.nil? ? "-" : @admin.phone_number
            %br/
            - if @admin.is_active == 1
              = link_to adminsdir_v1_admins_admin_change_status_path(status: 0, id: params[:id]) do
                %button.btn.btn-outline.btn-circle.red DEACTIVATE ACCOUNT
            - else
              = link_to adminsdir_v1_admins_admin_change_status_path(status: 1, id: params[:id]) do
                %button.btn.btn-outline.btn-circle.green ACTIVATE ACCOUNT
          .profile-usermenu
      .col-md-9{ style: "padding: 0px;" }
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-grey-mint
                %span.caption-subject.bold.uppercase Personal Info
            .portlet-body
              %form
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    / # = f.text_field :first_name, class: "form-control form-control-solid placeholder-no-fix", placeholder: "First Name", autocomplete: :off, value: current_user.first_name
                    %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "First Name", type: :text, autocomplete: :off, value: @admin.first_name }
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    / # = f.text_field :last_name, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Last Name", autocomplete: :off, value: current_user.last_name
                    %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "Last Name", type: :text, autocomplete: :off, value: @admin.last_name }
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    / # = f.text_field :phone_number, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Phone Number", autocomplete: :off, value: current_user.phone_number
                    %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "Phone Number", type: :text, autocomplete: :off, value: @admin.phone_number }
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    .col-md-3{ style: "padding-left: 0px;" }
                      / # = f.submit "SAVE CHANGES", class: "btn blue uppercase col-md-12"
                      %button.btn.blue.uppercase.col-md-12 SAVE CHANGES
                    .col-md-3{ style: "padding-left: 0px;" }
                      / # = f.submit "CANCEL", class: "btn blue uppercase col-md-12"
                      %button.btn.blue.uppercase.col-md-12 CANCEL
                

        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-grey-mint
                %span.caption-subject.bold.uppercase Change Password
            .portlet-body
              / = form_for current_user, url: update_password_path do |f|
              %form
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "Current User" }
                    / # = f.password_field :current_password, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Current Password", autocomplete: :off
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "Current User" }
                    / # = f.password_field :password, class: "form-control form-control-solid placeholder-no-fix", placeholder: "New Password", autocomplete: :off
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    %input.form-control.form-control-solid.placeholder-no-fix{ placeholder: "Current User" }
                    / # = f.password_field :password_confirmation, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Confirm Password", autocomplete: :off
                .form-group
                  .input-group.col-md-6.col-md-offset-3
                    .col-md-4{ style: "padding-left: 0px;" }
                      / # = f.submit "CHANGE PASSWORD", class: "btn blue uppercase col-md-12"
                      %button.btn.blue.uppercase.col-md-12 CHANGE PASSWORD
                    .col-md-3{ style: "padding-left: 0px;" }
                      %button.btn.blue.uppercase.col-md-12 CANCEL
                      / # = f.submit "CANCEL", class: "btn blue uppercase col-md-12"