= content_for :title, "ICurb | Admin Users"
= content_for :asset, "../../../assets/logo-default.png"
%br/
.container-fluid
  - if !flash[:error].nil?
    %input#message{ type: :hidden, value: flash[:error] }
    %input#type{ type: :hidden, value: "danger" }
    .col-md-12#alerts-container{ style: "margin-top: 20px;" }
  .row
    .col-md-12
      .col-md-12
        = link_to root_path do
          %button.btn.btn-outline.green BACK
    %br/
    %br/
    .col-md-12
      .col-md-3
        .portlet.light.profile-sidebar-portlet.bordered
          .profile-userpic
            %img.img-responsive{:alt => "", :src => "../../assets/photo3.jpg"}/
          .profile-usertitle
            .profile-usertitle-name= "#{@user.first_name} #{@user.last_name}"
            .profile-usertitle-job= @user.email
            .profile-usertitle-job= @user.phone_number.nil? ? "-" : @user.phone_number
            .profile-usertitle-job= @role.name
            %br/
            - if @user.is_active == 1
              = link_to adminsdir_v1_admins_change_status_path(status: 2, id: params[:id]) do
                %button.btn.btn-outline.btn-circle.red DEACTIVATE ACCOUNT
            - else
              = link_to adminsdir_v1_admins_change_status_path(status: 1, id: params[:id]) do
                %button.btn.btn-outline.btn-circle.green ACTIVATE ACCOUNT
          .profile-usermenu

      .col-md-9{ style: "padding: 0px;" }
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-grey-mint
                %span.caption-subject.bold.uppercase INVOICE
            .portlet-body
              %table#sample_1.table.table-striped.table-bordered.table-hover
                %thead
                  %tr
                    %th ID
                    %th Date Created
                    %th Price
                    %th Status
                %tbody
                  - (1..100).each do |f|
                    %tr{ "data-toggle" => :modal, "data-id" => f, "data-datecreated"=> Time.now.strftime("%b %d, %Y %H:%M:%S %p"), "data-status" => "Cancelled", "data-price" => (170.00 + f), "data-target" => "#orderModal" }
                      %td= f
                      %td= Time.now.strftime("%b %d, %Y %H:%M:%S %p")
                      %td System Architect
                      %td
                        %span.label.label-sm.label-success Success
.modal.fade#orderModal{ tabindex: -1, role: :basic, "aria-hidden" => true }
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  .modal-dialog
    .col-sm-12
      .portlet.yellow-crusta.box
        .portlet-title
          .caption
            %i.fa.fa-cogs>
            Order Details
          .actions
            %button.close{ "aria-hidden" => true, "data-dismiss" => :modal, type: :button, style: "margin-top:10px;"}
        .portlet-body
          .row.static-info
            .col-sm-5.name Order #:
            .col-sm-7.value#invoice_id
              / %span.label.label-info.label-sm Email confirmation was sent
          .row.static-info
            .col-sm-5.name Order Date  Time:
            .col-sm-7.value#invoice_datecreated Dec 27, 2013 7:16:25 PM
          .row.static-info
            .col-sm-5.name Order Status:
            .col-sm-7.value
              %span.label.label-success#invoice_status Closed
          .row.static-info
            .col-sm-5.name Grand Total:
            .col-sm-7.value#invoice_price $175.25
          .row.static-info
            .col-sm-5.name Payment Information:
            .col-sm-7.value Credit Card

= content_for :javascripts do
  :javascript
    $(document).ready(function(){
      $("#orderModal").modal({
        keyboard: true,
        backdrop: "static",
        show: false
      }).on('show.bs.modal', function(){
        var invoice_id = $(event.target).closest('tr').data('id');
        var invoice_datecreated = $(event.target).closest('tr').data('datecreated');
        var invoice_status = $(event.target).closest('tr').data('status');
        var invoice_price = $(event.target).closest('tr').data('price');
        $('#invoice_id').html(invoice_id);
        $('#invoice_datecreated').html(invoice_datecreated);
        $('#invoice_status').html(invoice_status);
        $('#invoice_price').html("$"+invoice_price);
      });
      
      $('#sample_1').DataTable({
        "ordering": false,
        "bFilter": false,
        "bLengthChange": false,
        "pageLength": 20
      });
    });