/ = content_for :title, "ICurb | Home"
/ - if !user_signed_in?
/   - flash.each do |key, value|
/     - if key == "notice"
/       %input#message{ type: :hidden, value: value }
/       %input#type{ type: :hidden, value: "success" }
/     - else
/       %input#message{ type: :hidden, value: value }
/       %input#type{ type: :hidden, value: "danger" }
/       .col-md-12#alerts-container{ style: "margin-top: 20px;" }
/ #map{ style: "height: 800px;border: .5px solid #e5e5e5;" }
/ = content_for :javascripts do
/   :javascript
/     $('#map').height(($(document.body).height() - $(".page-header-top").height()) - 5 );
/     $(window).resize(function(){
/       $('#map').height(($(document.body).height() - $(".page-header-top").height()) - 5 );
/     });

/     function initMap() {
/       var map = new google.maps.Map(document.getElementById('map'), {
/         zoom: 15,
/         center: {lat: 0, lng: 0},
/         mapTypeControl: false,
/         streetViewControl:false,
/         fullscreenControl: false
/       });

/       var myinput = document.getElementById('alerts-container');
/       map.controls[google.maps.ControlPosition.TOP_LEFT].push(myinput);

/       navigator.geolocation.getCurrentPosition(function(position){
/       	var pos = {
/       		lat: position.coords.latitude,
/             lng: position.coords.longitude
/       	};
/         var marker = new google.maps.Marker({
/             map: map,
/             position: pos
/         });
/         map.setCenter(pos);
/       });
/     }
/   %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCoSN-2WuzS_sGeGws-VJEotT8OodPq6lk&callback=initMap&libraries=drawing"}