= content_for :title, "ICurb | Pricing"
%br/
%h4.font-red.bold.uppercase{:align => "center"} INDIVIDUAL
.portlet-body
  .pricing-content-2
    .pricing-table-container
      .row.padding-fix
        .col-md-1{:style => "width: 12.499999995%;"}
        - @individual.each do |f|
          .col-md-3.no-padding
            .price-column-container.border-top{ class: "#{ ( 'border-left' if f.name.include? "Bronze" ) || ( 'featured-price border-top' if f.name.include? "Silver" ) || ( 'border-right' if f.name.include? "Gold" ) }" }
              .price-table-head.price-1
                %h2.uppercase.no-margin= f.name.split(' ')[1] == "Bronze" ? "Average" : (f.name.split(' ')[1] == "Silver" ? "OK" : "Premium")
              .price-table-pricing
                %h3
                  %sup.price-sign> $
                  = f.amount.to_i
                %p.uppercase per month
              .price-table-content
                .row.no-margin
                  .col-xs-3.text-right
                    %i.icon-magnifier
                  .col-xs-9.text-left.uppercase= "#{f.total_search} Searches"
              .price-table-footer
                = link_to new_user_registration_path({ :subscription => "#{f.number}" }) do
                  %button.btn.grey-salsa.btn-outline.sbold.uppercase.bold{:type => "button"} Sign Up
        
.portlet.light.portlet-fit
.portlet-title
  %h4.font-red.bold.uppercase{:align => "center"} BUSINESS
.portlet-body
  .pricing-content-2
    .pricing-table-container
      .row.padding-fix
        .col-md-1{:style => "width: 12.499999995%;"}
        - @business.each do |f|
          .col-md-3.no-padding
            .price-column-container.border-top{ class: "#{ ( 'border-left' if f.name.include? "Bronze" ) || ( 'featured-price border-top' if f.name.include? "Silver" ) || ( 'border-right' if f.name.include? "Gold" ) }" }
              .price-table-head.price-1
                %h2.uppercase.no-margin= f.name.split(' ')[1] == "Bronze" ? "Average" : (f.name.split(' ')[1] == "Silver" ? "OK" : "Premium")
              .price-table-pricing
                %h3
                  %sup.price-sign> $
                  = f.amount.to_i
                %p.uppercase per month
              .price-table-content
                .row.no-margin
                  .col-xs-3.text-right
                    %i.icon-magnifier
                  .col-xs-9.text-left.uppercase= "#{ f.total_search == 0 ? "UNLI" : f.total_search } Searches"
              .price-table-footer
                = link_to new_user_registration_path({ :subscription => "#{f.number}" }) do
                  %button.btn.grey-salsa.btn-outline.sbold.uppercase.bold{:type => "button"} Sign Up