= content_for :title, "ICurb | Card"
= content_for :asset, "../../../assets/logo-default.png"
%br/
.mt-element-step
  .row.step-default
    .col-md-4.bg-grey.mt-step-col.done
      .mt-step-number.bg-white.font-grey 1
      .mt-step-title.uppercase.font-grey-cascade Purchase
      .mt-step-content.font-grey-cascade Purchasing the item
    .col-md-4.bg-grey.mt-step-col.done
      .mt-step-number.bg-white.font-grey 2
      .mt-step-title.uppercase.font-grey-cascade Sign up
      .mt-step-content.font-grey-cascade Information Details
    .col-md-4.bg-grey.mt-step-col.active
      .mt-step-number.bg-white.font-grey 3
      .mt-step-title.uppercase.font-grey-cascade Payment
      .mt-step-content.font-grey-cascade Complete your payment
  .row 
    %br/
    %br/
    .col-md-12
      .col-md-4.col-md-offset-4
        = form_for Card.new, url: usersdir_v1_users_user_cards_path, :html => { id: "payment-form" } do |f|
          %input{ name: :stripe_token, hidden: :true }
          .form-body{ align: :right }
            = flash[:errors]
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-credit-card
                .col-md-12{ style: "padding: 0px;" }
                  .input-icon.right
                    %i.fa
                    %input.form-control.input-lg{ type: :text, placeholder: "Name", id: :card_name }
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-credit-card
                .col-md-12{ style: "padding: 0px;" }
                  .input-icon.right
                    %i.fa
                    .col-md-12.form-control.input-lg#card-number
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-calendar{ style: "font-size: 16px;" }
                .col-md-12{ style: "padding: 0px;" }
                  .input-icon.right
                    %i.fa
                    .col-md-12.form-control.input-lg#card-expiry
            .form-group
              .input-group                            
                %span.input-group-addon
                  %i.fa.fa-credit-card
                .col-md-12{ style: "padding: 0px;" }
                  .input-icon.right
                    %i.fa
                    .col-md-12.form-control.input-lg#card-cvc
            %br/
            .form-group
              .input-group
                = f.submit "FINISH", class: "btn blue"
:css
  .input-lg{
    color: #32325D;
    font-family: 'Source Code Pro', 'Consolas', 'Menlo', 'monospace';
    font-size: 16px;
    -webkit-font-smoothing: antialiased; 
  }
  .input-lg::placeholder{
    color: #CFD7DF;
  }

= content_for :javascripts do
  %script{:src => "https://js.stripe.com/v3/"}
  :javascript
    var stripe = Stripe('pk_test_t1vOGkbVw0G1ljAFfCYlbc4I');
    var elementStyles = {
        base: {
        lineHeight: '1.5',
          color: '#32325D',
          fontFamily: 'Source Code Pro, Consolas, Menlo, monospace',
          fontSize: '16px',
          fontSmoothing: 'antialiased',
        '::placeholder': {
            color: '#CFD7DF',
          }
        },
        invalid: {
          color: '#E25950',
      }
    };
  
    var elements = stripe.elements();
    var cardNumber = elements.create('cardNumber', { style: elementStyles });
    var cardExpiry = elements.create('cardExpiry', { style: elementStyles });
    var cardCvc = elements.create('cardCvc', { style: elementStyles });
  
    cardNumber.mount("#card-number");
    cardExpiry.mount("#card-expiry");
    cardCvc.mount("#card-cvc");

    $("#card_name").keyup(function(){
      if ($(this).val().length != 2){
        $(this).closest(".form-group").addClass("has-error");
      }
      if($(this).val().length > 2){
        $(this).closest(".form-group").removeClass("has-error");
        $(this).closest(".form-group").addClass("has-success");
      }
      if($(this).val().length == 0){
        $(this).closest(".form-group").removeClass("has-error");
        $(this).closest(".form-group").removeClass("has-success");
      }
    });

    cardNumber.addEventListener('change', function(event){
     if(event.error){
        $("#card-number").closest(".form-group").removeClass("has-success");
        $("#card-number").closest(".form-group").addClass("has-error");
      }
      if(event.complete){
        $("#card-number").closest(".form-group").removeClass("has-error");
        $("#card-number").closest(".form-group").addClass("has-success");
      }
      if(!event.error && !event.complete){
        $("#card-number").closest(".form-group").removeClass("has-error");
        $("#card-number").closest(".form-group").removeClass("has-success");
      }
    });
  
    cardExpiry.addEventListener('change', function(event){
      if(event.error){
        $("#card-expiry").closest(".form-group").removeClass("has-success");
        $("#card-expiry").closest(".form-group").addClass("has-error");
      }
      if(event.complete){
        $("#card-expiry").closest(".form-group").removeClass("has-error");
        $("#card-expiry").closest(".form-group").addClass("has-success");
      }
      if(!event.error && !event.complete){
        $("#card-expiry").closest(".form-group").removeClass("has-error");
        $("#card-expiry").closest(".form-group").removeClass("has-success");
      }
    });
  
    cardCvc.addEventListener('change', function(event){
      if(event.error){
        $("#card-cvc").closest(".form-group").removeClass("has-success");
        $("#card-cvc").closest(".form-group").addClass("has-error");
      }
      if(event.complete){
        $("#card-cvc").closest(".form-group").removeClass("has-error");
        $("#card-cvc").closest(".form-group").addClass("has-success");
      }
      if(!event.error && !event.complete){
        $("#card-cvc").closest(".form-group").removeClass("has-error");
        $("#card-cvc").closest(".form-group").removeClass("has-success");
      }
    });
  
    document.getElementById('payment-form').addEventListener('submit', function(event){
      event.preventDefault();

      var additionalData = { name: $("#card_name").val() }
      stripe.createToken(cardNumber, additionalData).then(function(result){
        $("input[name='stripe_token']").val(result.token.id);
      $('#payment-form').submit();
        console.log(result);
      });
    });
