%script{:src => "https://js.stripe.com/v3/"}



%form#myform
  #card-number
  #card-expiry
  #card-cvc
  #card-errors
:javascript
  var stripe = Stripe('pk_test_6pRNASCoBOKtIshFeQd4XMUh');
  var elements = stripe.elements();

  var card = elements.create('cardNumber');
  card.mount('#card-number');
  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
      console.log(event);
    } else {
      displayError.textContent = '';
      console.log(event);
    }
  });

  var card2 = elements.create('cardExpiry');
  card2.mount('#card-expiry');
  var inputs = document.getElementsByClassName("InputElement");
  console.log(inputs);