<div class="content-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin-top: 60px;">
      <div class="col-md-10.col-md-offset-1">
        <div class="portlet light bordered">
          <div class="portlet-body" style="padding-bottom: 30px;">
            <h3 align="center" style="color: #32c5d2;font-size: 30px;"> Sign In</h3>
            <br/>
            <%= form_for(Admin.new, as: :admin, url: session_path(:admin), :html => { class: "login-form" }) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, class: "form-control form-control-solid placeholder-no-fix", placeholder: "Email Address" %>
              </div>
              <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-solid placeholder-no-fix", placeholder: "Password" %>
              </div>
              <br />
              <div class="form-action" style="text-align:center;">
                <%= f.submit "Log in", class: "btn green uppercase" %>
              </div>
              <h4 align="center" style="padding: 0px;">
                <% flash.each do |key, value| %><br/>
                  <% if key != 'notice' %>
                    <label style="color: red"><%= "#{value}" %></label>
                  <% end %>
                <% end %>
              </h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>