<%= form_for(User.new, as: :user, url: session_path(:user), :html => { class: "login-form" }) do |f| %>
  <div class="alert alert-danger display-hide col-md-10 col-md-offset-1">
    <button class="close" data-close="alert"></button>
    <span>Please fill the fields below.</span>
  </div>
  <div class="form-group">
    <div class="input-group col-md-10">
      <span class="input-group-addon">
        <i class="fa fa-envelope"></i>
      </span>
      <%= f.text_field :email, class: "form-control form-control-solid placeholder-no-fix", autocomplete: :off, placeholder: "Email Address" %>
    </div>
  </div>
   <div class="form-group">
    <div class="input-group col-md-10">
      <span class="input-group-addon">
        <i class="fa fa-lock" style="font-size: 20px;"></i>
      </span>
      <%= f.password_field :password, class: "form-control form-control-solid placeholder-no-fix", autocomplete: :off, placeholder: "Password" %>
    </div>
  </div>
  <div class="input-group col-md-10" align="right" style="margin-top: 6px; font-size: 13px;">
    <%= link_to "FORGOT PASSWORD", new_user_password_path, style: "color: #3598dc; text-decoration: none;" %>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.submit "Continue", class: "btn blue uppercase" %>
  </div>
<% end %>
