!!!
%html{lang: "en"}
  %head
    %title= yield(:title)

    %meta{ charset: "utf-8"}/
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{ content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{ content: "width=device-width", :name => "viewport"}/
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    = stylesheet_link_tag "application", media: :all
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :integrity => "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css", :rel => "stylesheet"}/
    %link{ href: "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all", rel: "stylesheet", type: "text/css"}/
    %link{ href: "", rel: "shortcut icon", type: "image/x-icon"}/
    = csrf_meta_tags

  - if admin_signed_in?
    %body.page-container-bg-solid
      .page-wrapper-top
        .page-header.page-header-extension
          .page-header-top
            .container-fluid{ style: "background-color: white;" }
              .page-logo
                = link_to adminsdir_v1_admins_root_path do
                  %img.logo-default{ src: "#{ content_for?(:asset) == false ? "../assets/logo-default.png" : yield(:asset) }", alt: :logo, style: "width:100px;margin-top:5px;" }
              .top-menu
                %ul.nav.navbar-nav.pull-right
                  %li.navbar-links
                    = link_to adminsdir_v1_admins_root_path do
                      %i.fa.fa-home
                      HOME
                  %li.navbar-links
                    = link_to adminsdir_v1_admins_profile_path do
                      %i.fa.fa-user
                      PROFILE
                  %li.navbar-links
                    = link_to destroy_admin_session_path, method: :delete do
                      %i.fa.fa-sign-out
                      LOGOUT
          = yield
  - else
    %body.page-container-bg-solid{ style: "background-color: #32c5d2;" }
      = render "adminsdir/v1/admins/sessions/new"
  = javascript_include_tag controller_name if File.exists?("#{Rails.root}/app/assets/javascripts/#{controller_name}.js")
  = javascript_include_action_specific_js

  = javascript_include_tag "application", "data-turbolinks-track" => true
  = yield(:javascripts)