!!!
%html{lang: "en"}
  %head
    %title= yield(:title)

    %meta{ charset: "utf-8"}/
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{ content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{ content: "width=device-width", :name => "viewport"}/
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{ href: "../assets/logo_default.png", rel: :icon }
    = stylesheet_link_tag "application", media: :all
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :integrity => "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css", :rel => "stylesheet"}/
    %link{ href: "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all", rel: "stylesheet", type: "text/css"}/
    %link{ href: "", rel: "shortcut icon", type: "image/x-icon"}/
    = csrf_meta_tags

  %body.page-container-bg-solid
    .page-wrapper-top
      .page-header.page-header-extension
        .page-header-top
          .container-fluid{ style: "background-color: transparent;" }
            .page-logo
              = link_to root_path do
                %img.logo-default{ src: "#{ content_for?(:asset) == false ? "/assets/logo-default.png" : yield(:asset) }", alt: :logo, style: "width:100px;margin-top:5px;" }
            .top-menu
              %ul.nav.navbar-nav.pull-right
                %li.navbar-links
                  %a HOME
                %li.navbar-links
                  %a MEDIA
                %li.navbar-links
                  = link_to pricing_path do
                    PRICING
                %li.navbar-links
                  %a BLOG
                %li.navbar-links
                  %a FAQ
                %li.navbar-links
                  %a ABOUT US
                %li.navbar-links
                  %a{ href: "#basic", "data-toggle" => :modal }
                    %span LOGIN
                %li.navbar-links
                  = link_to pricing_path do
                    %span SIGN UP
        - if !user_signed_in?
          - flash.each do |key, value|
            - if key == "notice"
              %input#message{ type: :hidden, value: value }
              %input#type{ type: :hidden, value: "success" }
            - else
              %input#message{ type: :hidden, value: value }
              %input#type{ type: :hidden, value: "danger" }
              .col-md-12#alerts-container{ style: "margin-top: 20px;" }
        = yield
    .modal.fade#basic{ tabindex: -1, role: :basic, "aria-hidden" => true }
      %br/
      %br/
      %br/
      %center
        .modal-dialog{ style: "width: 480px;" }
          .modal-content
            .modal-header
              %button.close{ "aria-hidden" => true, "data-dismiss" => :modal, type: :button}
              %h4{ align: :center } SIGN IN
            .modal-body
              .row
                .col-md-12
                  %br
                  .content
                    %center
                      = render "usersdir/v1/users/sessions/new"
                      %br/
                    
    = javascript_include_tag controller_name if File.exists?("#{Rails.root}/app/assets/javascripts/#{controller_name}.js")
    = javascript_include_action_specific_js

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield(:javascripts)